body {
  min-height: 100vh;
}

.header {
  width: 280px;
  min-height: 100vh;
}

main {
  width: calc(100% - 280px);
}

.wrapper {
  width: 100%;
  display: flex;
}

header {
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
}

.mx-7 {
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 50px;
}

.f-bold {
  font-weight: bold;
}
